img {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.card button {
  background-color: #0A84FF;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}
.card small::before {
  content: '$'
}

.onsale h2::after {
  content: ' (On Sale)';
}